# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js build
.next/
/out/
client/.next/

# production
/build

# misc
.DS_Store
*.pem
serviceAccountKey.json
*.log

# env files
.env*
!.env.example
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
